@charset "utf-8";
.dazhe_nr { background-color:#f6f6f6; padding-bottom:15px; border-bottom:1px solid #dadada;}
.dazhe_nr h1 { padding:15px 15px 0 15px; font-size:20px; color:#333; font-weight:bold;}
.dazhe_nr .dazhe_info { border-bottom:1px solid #dadada; line-height:24px; font-size:14px; padding:10px 15px 15px; color:#999;}
.dazhe_nr .dazhe_info .date { color:#f50;}
.dazhe_nr .article_content { margin:15px; color:#333; line-height:26px;}
.dazhe_nr .article_content p { margin:15px 0;}

































