@charset "utf-8";
.pageHD { background:url(../images/diantai_05.gif) repeat-x 0 0; height:33px; margin-top:10px; text-align:left;} 
.pageHD .hd { display:block; background:url(../images/diantai_03.gif) no-repeat 0 0; width:106px; height:33px; text-align:center; font-size:14px; font-weight:bold; color:#565f77; line-height:33px;}
.radio_player { background:#d9e1f7; padding:12px 25px; margin-top:10px;}
.radio_player .player { margin-top:10px;}
sup.red { vertical-align:top; color:#f00; font-size:11px;}
.item { text-align:left;}
.item .pic { float:left;}
.item .pic img { border:1px solid #ddd;}
.item .info { float:left; _display:inline; margin-left:5px; color:#333; width:420px; overflow:hidden;}
.item .info p.gry { color:#8e8e8e;}
.item .info a.ft14 { font-size:14px; color:#0000cc; text-decoration:underline;}
.item .info a.ft14:hover { text-decoration:none;} 
.item .menu { float:left; width:100px;}
.item .menu a { color:#0000cc; text-decoration:underline;}
.item .menu a:hover { text-decoration:none;}
.item .text { float:right;}
.item .text a { color:#8e8e8e; text-decoration:underline;}
.item .text a:hover { color:#666; text-decoration:none;}
.list_diantai {}
.list_diantai .item { margin-top:15px; border-bottom:1px solid #ddd; padding-bottom:15px;}


















