@charset "utf-8";
.wrapper2 { width:950px; margin:0 auto; position:relative;}
.kbInfo .search,.kbInfo .search .s_t,.kbInfo .search .s_b,.dayin_sc li a,.page_bd .bdK .item span.k_03 { background:url(../images/video_29.gif) no-repeat 0 0;}

.page_nav .menu,.page_nav li { background-image:url(../images/video_29.gif); background-repeat:no-repeat;}
.lineAdv_box { margin-left:2px;}
.lineAdv_box li { float:left; display:inline; margin:0 1px 0 2px; overflow:hidden; font-size:0;}
.lineAdv_box li img { padding:1px; border:2px solid #dae1e7;}
.page_nav { margin-top:10px; border-bottom:1px solid #abd9ff; position:relative; text-align:left; zoom:1;}
.page_nav .bd { margin:0 auto; width:902px; overflow:hidden; height:28px;}
.page_nav li { text-align:center; float:left; display:inline; width:88px; height:28px; margin-left:2px; background-position:0 -306px; line-height:28px; font-size:14px;}
.page_nav li.selected { background-position:-88px -306px;}
.page_nav li.selected a { color:#fff;}
.page_nav .menu { width:21px; height:28px;}
.page_nav .menu a { text-indent:-999em; overflow:hidden; display:block; width:21px; height:28px;}
.page_nav .left { position:absolute; top:0; left:2px; background-position:-176px -306px;}
.page_nav .right { position:absolute; top:0; right:2px; background-position:-197px -306px;}
.page_nav li a { color:#316eae;}
.page_nav li.selected a { font-weight:bold;}

.kbInfo {}
.kbInfo .search { float:left; background-position:0 -1153px; padding-left:30px;}
.kbInfo .search input { vertical-align:top;}
.kbInfo .search .s_t { border:1px solid #ccc; height:25px; line-height:25px; color:#aaa; padding:0 3px; width:270px; background-position:255px -1231px; margin:0;}
.kbInfo .search .s_b { border:none; height:29px; line-height:29px; font-size:14px; font-weight:bold; color:#555; width:62px; background-position:-162px -244px; cursor:pointer;}
.dayin_sc { float:right;}
.dayin_sc li { float:left;}
.dayin_sc li a { padding-left:25px; height:25px; width:50px; line-height:25px; margin:4px 10px 0 0;}
.dayin_sc li a.sc { display:block; background-position:0 -1271px;}
.dayin_sc li a.dy { display:block; background-position:0 -1313px;}
.dengjiMM { float:right;}
.page_hd { margin-top:10px; background-color:#e5ecf7; border-bottom:2px solid #a4b7ce;  line-height:25px; font-size:14px; font-weight:bold; text-align:left; padding:0 8px; overflow:hidden}
.page_hd b { color:#c00;}
.page_bd { margin-top:10px; background-color:#f7f7f7; border:1px solid #d5d5d5;}
.page_bd .bdK { border-bottom:1px solid #d5d5d5; padding:10px;}
.page_bd .bdK .item { width:419px; float:left; border-bottom:1px solid #e7e7e7; text-align:left; padding:0 5px; _display:inline; margin-left:16px; margin-right:10px; vertical-align:middle;}
.page_bd .bdK .item span { display:inline; float:left; line-height:35px; margin-right:8px; height:35px; overflow:hidden;}
.page_bd .bdK .item span.k_01 { width:170px; font-size:14px;}
.page_bd .bdK .item span.k_02 { width:65px; color:#999;}
.page_bd .bdK .item span.k_03 { width:126px; color:#f30; font-size:18px; display:inline; padding-left:30px; background-position:0 -1189px;}

.floatA { background:#fff; border:7px solid #a1d7ff; width:400px; position:absolute; display:none;}
.floatA .hd { background:#ebf8ff; height:30px; line-height:30px; vertical-align:middle; font-size:14px; font-weight:bold; color:#085ba2; padding:0 0 0 10px; text-align:left;}
.floatA .close { float:right; font-weight:normal; font-size:12px; margin:3px 8px 0 0; _display:inline;}
.floatA .bd { padding:10px;}
.floatA .in_t { border:1px solid #d9ecfa; height:22px; line-height:22px; padding-left:3px;}
.floatA input.tel { background:url(images/f_14.jpg) no-repeat 6px 7px; padding-left:40px;}
.floatA .in_b { background:url(images/tijiao_13.jpg) no-repeat 0 0; height:26px; width:87px; border:none; cursor:pointer;}
.floatA .bd input { vertical-align:middle;}
.floatA .tips { padding-left:15px; color:#999;}
.floatA .tab_f td { height:36px;}
.floatA .tab_f td img { vertical-align:middle;}
.floatA .tab_f td a { text-decoration:underline; zoom:1;}
.floatA .green { color:#3c7103;}
.floatA .tab_x td { height:28px;}