@charset "utf-8";
.topBar .bor,.topBar .weibo,.topBar .weixin,.topBar .fabu .btn,.city,.city .po .close,.searcher,.nav .new,.gonggao { background:url(../images/index2013_4_sp.gif) no-repeat 0 0;}

.topBar { background-color:#FFF; border-bottom:1px solid #ebebeb; padding:5px 0 0; height:22px;}
.topBar li { float:left; padding:0 9px}
.topBar .first { padding-left:0;}
.topBar .last { padding-right:0;}
.topBar .noPadding { padding-right:0; color:#999;}
.topBar .bor { background-position:-499px 3px;}
.topBar .weibo,.topBar .weixin,.topBar .fabu .btn { display:block; padding-left:20px;}
.topBar .weibo { background-position:-484px -50px;}
.topBar .weixin { background-position:-484px -24px;}
.topBar .fabu .btn { padding:0 12px 0 0; background-position:-442px -74px;}
.topBar .po { display:none; border:1px solid #ebebeb; border-top:0 none; background-color:#fff; position:absolute; width:64px; left:2px; top:22px; text-align:center; line-height:25px; padding-bottom:4px;}
.topBar .fabu { position:relative; z-index:9; *zoom:1; height:22px; padding-right:0;}
.topBar .fabu .show { display:block;}
.header .inner { padding:18px 0 14px;}
.login_success { color:#aaa;}
.username { color:#f30;}

.logo { width:268px; overflow:hidden;} 
.topBar .city { z-index:3; display:block; padding-right:17px; background-position:-434px -74px;}
.city .po { display:none; box-shadow: 2px 2px 2px #aaa; text-align:center; position:absolute; left:0; top:24px; border:1px solid #ebebeb; background-color:#fff; padding:8px; width:130px;}
.city .po ul { margin-top:5px;}
.city .po li { float:left; width:60px; padding:5px 0;}
.city .po em { color:#C00; font-weight:bold; font-size:14px;}
.city .po .close { position:absolute; top:5px; right:5px; width:8px; display:block; height:8px; background-position:-492px -170px; overflow:hidden; text-indent:-999em;}

.nav_footer { border:1px solid #e1e5eb; border-top:3px solid #206f96; padding:8px 0 8px 8px;}
.searcher { width:423px; height:31px;}
.searcher .select { float:left;}
.searcher .txt { float:left;}
.searcher .btn { float:left;}
.searcher .s_txt { background-color:transparent; border:0 none; width:248px; height:14px; line-height:14px; padding:8px 4px; vertical-align:middle;}
.searcher .s_btn { vertical-align:middle; width:66px; height:31px; overflow:hidden; font:0pt/1000px Arial; cursor:pointer; border:0 none; background-color:transparent;}
.hot_key { display:inline; margin-left:12px; line-height:31px; word-spacing:normal; white-space:nowrap; color:#999; width:420px; height:31px; overflow:hidden;}
.hot_key a { margin:0 4px;}
.gonggao { height:31px; overflow:hidden; width:280px; padding-left:25px; background-position:-483px -251px;}
.gonggao li { height:31px; line-height:31px; overflow:hidden;}
.gonggao em { color:#aaa; margin-left:10px;}

/* search select */
.selectbox-wrapper { position:absolute; background-color:#fff; border:1px solid #bbb; text-align:left; z-index:99; width:96px; margin-top:-2px; border-top:0 none;}
.selectbox-wrapper ul li.selected { background-color:#f1f1f1;}
.selectbox-wrapper ul li.current { background-color:#f1f1f1; color:#555;}
.selectbox-wrapper ul li { display:block; margin:0; padding:3px 0 3px 18px; line-height:20px; cursor:default; width:78px; color:#666;}
.selectbox { margin-top:1px; display:block; width:100px; padding-right:15px; text-align:center; height:30px; line-height:30px; color:#666; background:transparent; vertical-align:middle; border:0 none; cursor:pointer;}

.nav { border:1px solid #eee; font-size:14px; width:930px; margin-top:-3px;}
.nav .ul_1,.nav .ul_2,.nav .ul_3,.nav .ul_4 { float:left; line-height:26px;}
.nav .ul_1 { width:183px;}
.nav .ul_2 { width:277px;}
.nav .ul_3 { width:212px;}
.nav .ul_4 { width:258px;}
.nav .li_1,.nav .li_2,.nav .li_3,.nav .li_4 { padding-top:5px;}
.nav .li_1 { width:153px;}
.nav .li_2 { width:247px;}
.nav .li_3 { width:182px;}
.nav .li_4 { width:228px;}
.nav ul li { float:left;}
.nav ul ul li { position:relative; z-index:1; *zoom:1; display:block; float:left; display:inline; margin-left:10px; height:26px;}
.nav a { white-space:nowrap;}
.nav .new { display:block; position:absolute; overflow:hidden; top:0; right:-9px; width:9px; height:7px; background-position:-245px -32px;}
.nav .display0 { display:none;}
.nav .m { text-align:center; width:20px; padding:10px 5px; background-color:#eee; font-weight:bold; color:#333; font-size:16px; line-height:22px;}