@charset "utf-8";
.mod_2 .hd,.touban li,.mod_1 .hd .jian,.fangchan .shou,.fangchan .zu,.koubei .text li,.koubei .btn { background:url(../images/index2013_3_sp.gif) no-repeat 0 0;}

.mod_1 { border:1px solid #dbdee1; border-top:2px solid #ff8400;}
.mod_1 .hd { border-bottom:1px solid #dbdee1;}
.mod_1 .hd h3 { color:#333; font-size:14px; font-weight:bold; padding:6px 0 6px 8px}
.mod_1 .hd .jian { display:inline; float:left; width:11px; height:11px; background-position:-0px -32px; overflow:hidden; margin:12px 0 0 5px;}
.mod_2 { border:1px solid #ddd; border-top:0 none;}
.mod_2 .hd { background-position:0 -414px; background-repeat:repeat-x;}
.mod_2 .hd li { border-right:1px solid #ddd; padding:2px 19px 0; float:left; font-size:14px; line-height:34px; height:34px; font-weight:bold;}
.mod_2 .hd .selected { background-color:#fff; border-top:2px solid #ff8300; padding-top:0;}
.mod_2 .hd .selected a { color:#333;}.mod_2 .hd .selected a:hover { color:#333;}
.mod_3 { border-bottom:1px solid #eee; border-right:1px solid #eee;}
.mod_3 .hd { width:90px;}
.mod_3 .hd li { text-align:center; font-size:14px; line-height:38px; height:38px; overflow:hidden; font-weight:bold; padding:0 3px; border:1px solid #eee; border-bottom:0 none; background-color:#fafafa;}
.mod_3 .hd .selected { background-color:#fff; border-right:0 none; border-left:3px solid #ff8400; padding-left:0;}
.mod_3 .hd .selected a { color:#333;}.mod_5 .hd .selected a:hover { color:#333;}
.mod_4 .hd { border-bottom:1px solid #dbdee1; background-color:#f7f7f7;}
.mod_4 .hd h3 { color:#333; font-size:12px; font-weight:bold; padding:2px 0 2px 8px}
.mod_1 .more { display:inline; margin:8px 6px 0 0;}
.mod_2 .more { display:inline; margin:10px 6px 0 0;}
.mod_4 .more { display:inline; margin:3px 6px 0 0;}
.mod_1 .bd,.mod_2 .bd { padding:10px;}


.touban { width:413px; padding:9px 0 11px 16px; border-top:1px solid #eee;}
.touban ul { height:252px;}
.touban li { background-position:-494px -228px; padding-left:13px; line-height:28px; height:28px; font-size:14px; overflow:hidden;}
.touban .gray { color:#666;}.touban .gray:hover { color:#d00;}
.touban li em { padding-left:8px; font-size:11px; color:#999;}
.touban li img { vertical-align:middle;}
.touban_pic { border-top:1px solid #eee; width:400px; padding:5px 0;}
.touban_pic li { float:left; display:inline; margin:5px 0px 0 10px; width:120px; padding-bottom:6px;}
.touban_pic .tit,.touban_pic .bg { display:block; width:116px; padding:0 2px; bottom:5px; left:0; height:22px; line-height:22px; overflow:hidden;}
.touban_pic .tit { text-align:center; z-index:3; color:#fff; cursor:pointer;}.meitu .tit:hover { color:#fff; text-decoration:underline;}
.touban_pic .bg { background-color:#000; FILTER: alpha(opacity=60); moz-opacity: 0.6; opacity: 0.6; z-index:2;}
.touban_pic img { vertical-align:top;}
.touban_pic a:hover .tit { text-decoration:underline;}

.quickly_btn { background-color:#f6f6f6; border-top:2px solid #ff8400; padding:8px 0 8px 9px;}
.quickly_btn li { float:left; width:68px; text-align:center; font-size:14px; line-height:26px; height:26px; overflow:hidden;}
.bianmin2 { border:1px solid #eee;}
.bianmin2 .hd { width:14px; height:78px; padding:20px 6px 0; background-color:#fffdf1; font-size:14px; font-weight:bold; color:#eb4c08; line-height:30px;}
.bianmin2 .bd { width:322px; padding:7px 0 7px 5px;}
.bianmin2 .bd li { font-size:14px; float:left; width:64px; text-align:center; line-height:28px; height:28px; overflow:hidden;}

.slide{ position:relative; z-index:1; zoom:1; height:179px; overflow:hidden;}
.slide .dot{ position:absolute; z-index:5; bottom:7px; right:2px;}
.slide .dot li{ display:inline; float:left; font-size:14px; line-height:20px; padding:2px 8px; margin-right:5px; cursor:pointer; background-color:#949491; color:#fff; text-align:center;}
.slide .dot .on { background-color:#c00;}
.slide .picList li{ float:left; position:relative; zoom:1;}
.slide .picList li img { display:block; width:550px; height:179px;}

.more .small_nav { color:#aaa;}
.more .small_nav a { color:#404040;}.small_nav a:hover { color:#d00;}

.shopPH { padding:0px 0 0 15px;}
.shopPH li { float:left; width:284px; _display:inline; height:72px; padding:8px 0 4px 10px;}
.shopPH li .pic { float:left; width:153px; text-align:left;}
.shopPH li .pic img { width:135px; height:60px; display:block; padding:3px; border:1px solid #e2e2e2; background-color:#fff;}
.shopPH li .info { float:left; width:131px; text-align:left;}
.shopPH li .info h3 { margin-bottom:2px; height:18px; overflow:hidden;}
.shopPH li .info p.star { color:#888;}
.shopPH li .info p.star img { vertical-align:middle;}
.shopPH li .info p.menu { margin-top:6px; background-position:-41px -61px; width:101px; height:23px; line-height:23px; text-align:center;}
.shopPH li .info p.menu a { color:#36c;}
.shopPH li .info p.menu a:hover { color:#d00;}

.tcShopI { padding:3px 8px 15px 8px;}
.tcShopI li { width:86px; float:left; margin:9px 0 7px; padding:0 3px 0 10px;}
.tcShopI li h3 { padding:0 8px; text-align:left; line-height:16px; height:32px; overflow:hidden; margin-top:3px; cursor:pointer; color:#36c;}
.tcShopI li a:hover h3 { color:#d00; text-decoration:underline;}
.tcShopI li .price { display:block; text-align:left; padding-left:8px; color:#f50; font-size:14px; font-weight:bold; height:18px; overflow:hidden; margin-top:2px;}
.tcShopI li .price em { font-size:11px;}
.tcShopI li .price .yen { font-size:11px; color:#aaa; margin-right:2px;}
.tcShopI li img { display:block; margin:0 auto; width:80px; height:80px; padding:1px; border:1px solid #d3d3d3;}

.mod_5 .shopDynamic { background-position:-445px -529px; padding:7px 8px 10px; height:312px;}
.shopDynamic li { height:46px; padding:5px 0 0 55px; border-bottom:1px dotted #aaa;}
.shopDynamic li p { line-height:20px; vertical-align:middle; text-align:left; color:#999; height:20px; overflow:hidden;}
.shopDynamic li p em { color:#404040;}
.shopDynamic li p em a { color:#404040;}
.shopDynamic li a.gray { font-family:"宋体"}
.shopDynamic_hd .s { display:block; position:absolute; width:17px; height:19px; top:-7px; left:95px; overflow:hidden;}
.shopDynamic_hd .s_1 { background-position:-143px -61px;}
.shopDynamic_hd .s_2 { background-position:-161px -61px;}

.friendLink { border:1px solid #ddd;}
.friendLink .hd { color:#333; font-size:14px; font-weight:bold; padding:4px 0 5px 8px; border-bottom:1px solid #ddd;}

.wrapper .content .fangchan { padding:5px 0 10px 10px;} 
.fangchan .item { float:left; width:194px; padding:8px 0 8px 30px; border-bottom:1px dotted #e0e0e0;}
.fangchan .item .title { display:block; height:18px; overflow:hidden; color:#4e4e4e;}
.fangchan .item .price_line { display:block; height:18px; overflow:hidden; color:#0041d9;}
.fangchan .item a:hover .title,.fangchan .item a:hover .price_line { text-decoration:underline; color:#c00; cursor:pointer;}
.fangchan .shou { background-position:-475px -346px;}
.fangchan .zu { background-position:-475px -281px;}
.fangchan .pic { padding:4px 0 5px;}
.fangchan .pic li { float:left; width:101px; display:inline; margin:10px 15px 0 10px}
.fangchan .pic img { display:block; vertical-align:top; margin:0 auto; padding:2px; border:1px solid #ddd;}
.fangchan .pic .title { display:block; margin-top:4px; height:20px; line-height:20px; overflow:hidden; color:#f30;}
.fangchan .pic .price {  color:#404040;} 
.fangchan .pic a:hover .title,.fangchan .pic a:hover .price { text-decoration:underline; color:#d00;}

.wrapper .content .news_list { padding-right:0;}
.wrapper .content .news_list .topic { padding-right:10px;}

.wrapper .content .koubei { padding:0;}
.koubei .col_1 { width:208px;}
.koubei .col_2 { width:710px; border-left:1px solid #dbdee1; border-right:1px solid #dbdee1;}
.koubei .col_3 { width:278px;}
.koubei .bor { border-top:1px solid #dbdee1;}
.koubei .nobor .hd { border:0 none; background-color:transparent; padding:5px 0;}
.koubei .img { padding:1px 0 0 10px; margin:5px 0;}
.koubei .img li { float:left; display:inline; text-align:center;}
.koubei .img img { vertical-align:top; display:block;}
.koubei .img .tit { display:block; height:18px; overflow:hidden; margin-top:5px; cursor:pointer;}
.koubei .shop_logo li { width:120px; margin:0 15px 0 5px; position:relative; z-index:1; *zoom:1;}
.koubei .shop_logo img { width:120px; height:80px;}
.koubei .shop_logo .tit { position:absolute; left:0; bottom:10px; width:120px; height:24px; line-height:24px; color:#fff; background-color:#999; background-color:rgba(0,0,0,.5);}
.koubei .shop_logo a:hover .tit { color:#fff; text-decoration:none;}
.koubei .shop_video li { width:92px; margin:10px 15px 0 9px;}
.koubei .text { padding:0 10px;}
.koubei .text li { line-height:24px; height:24px; overflow:hidden; padding-left:15px; background-position:-491px -231px;}
.koubei .btn { display:block; margin-top:10px; width:184px; height:41px; background-position:-11px -32px; text-indent:-999em; overflow:hidden;}

#marqueediv1 li { height:90px; overflow:hidden;}











