@charset "utf-8";
body { background:url(../images/sp5/sPageRepeatX.gif) repeat-x 0 0;}
.nav li.current,.fm,.lk s,.lk li { background:url(../images/sp5/sPage2.gif) no-repeat 0 0;}

.wrapper { width:1200px; margin:0 auto; background:url(../images/sp5/sPage.gif) no-repeat 0 31px;}

#header {}
#header .data { line-height:31px; color:#666;}
#header .returnIndex { margin-top:-31px; height:31px; line-height:31px; text-align:right;}

.lg { margin:40px auto 32px auto; width:365px;}
.subLogo { margin:-35px 0 0 330px; height:25px;}

.main { width:544px; margin:0 auto;}
.nav { position:relative; margin:0 0 -1px 5px;}
.nav li { float:left; width:44px; _display:inline; font:14px/20px Arial; text-align:center; line-height:14px; padding-top:5px; height:19px; overflow:hidden;}
.nav li.current { width:44px; background-position:0 -44px;}
.nav li.current a { font-weight:bold; color:#333;}
.fm { height:35px; background-position:0 0; padding:9px 0 0 8px;}
.fm .s_t { border:0 none; display:block; float:left; width:445px; vertical-align:middle; line-height:16px; padding:7px 0 0 3px; font-size:14px; zoom:1; color:#aaa;}
.fm button { display:block; float:left; width:81px; height:32px; font:0pt/1000px Arial; border:0 none; background:transparent; cursor:pointer;}

.lk { border:1px solid #d7d7d7; background-color:#fff; padding:1px 9px 9px 8px; margin:42px 0 0 0; position:relative; *zoom:1;}
.lk s { display:block; position:absolute; width:3px; height:3px; overflow:hidden;}
.lk s.rc_tpL { background-position:-131px -44px; top:-1px; left:-1px;}
.lk s.rc_tpR { background-position:-128px -44px; top:-1px; right:-1px;}
.lk s.rc_btL { background-position:-131px -48px; bottom:-1px; left:-1px;}
.lk s.rc_btR { background-position:-128px -48px; bottom:-1px; right:-1px;}
.lk li { float:left; width:80px; height:27px; background-position:-48px -44px; line-height:27px; text-align:center; font-weight:bold; _display:inline; margin:9px 9px 0 0;}
.lk li.noMar { margin-right:0;}

.weather { margin:20px 0 10px 30px;}

#footer { position:relative; *zoom:1; text-align:center; width:950px; margin:0 auto;  margin-top:20px; padding-top:8px; color:#404040;}
#footer .footNav { color:#aaa; padding:4px 0;}
#footer .footNav a { padding:0 8px;}
#footer img { vertical-align:middle;}
#footer p { padding:3px 0;} 
#footer .police { position:absolute; top:10px; right:5px;}















