@charset "utf-8";
.yp2011 .t_title,.yp2011 .searchbar,.yp2011 .pageNavigation .prev a,.yp2011 .pageNavigation .next a,.yp2011 .list_tab li,.yp2011 .y_cate .hd,.yp2011 .t_list .item .zhiding,.yp2011 .t_list .item .other .menu,.yp2011 .join_tp,.yp2011 .join_tp .col li,.yp2011 .join_tp .col .link .menu1,.yp2011 .join_tp .col .link .menu2,.yp2011 .join_tp .col .link .menu3,.yp2011 .join_bt .hd,.yp2011 .join_bt .tab li,.yp_mbox .hd,.yp_mbox .hd .title,.yp_mbox .bd li,.yp2011 .box_a .b_1,.yp2011 .change_tab li { background:url(../images/huangye2011.jpg) no-repeat 0 0;}

.col_main { float:left; width:100%;}
.col_sub,col_extra { float:left;}

.yp2011 .t_title { margin:15px auto 0; display:block; width:357px; height:24px; font-size:0; background-position:0 -887px;}
.yp2011 .searchbar { text-align:left; margin:15px auto 0; display:block; width:623px; height:41px; background-position:0 -791px; padding-left:30px;}
.yp2011 .searchbar .s_input { margin-top:10px; vertical-align:top; color:#aaa; border:0 none; background-color:transparent; font-size:14px; width:308px;}
.yp2011 .searchbar .s_button { margin-top:5px; width:58px; height:30px; background-color:transparent; border:0 none; vertical-align:top; overflow:hidden; font:0pt/1000px Arial; cursor:pointer;}
.yp2011 .searchbar .join { padding-left:10px;}
.yp2011 .searchbar .join .link { display:inline-block; *diaplay:inline; *zoom:1; width:147px; height:27px; font:bold 14px/27px Arial; color:#0059d2; text-align:center; margin-top:6px;}
.yp2011 .searchbar .left { float:left;}
.yp2011 .searchbar .selectbox { margin-top:6px; width:96px;}
.yp2011 .grid_01 { margin:20px 0 0 0;}
.yp2011 .grid_01 .main_wrap { margin:0 210px 0 0;}
.yp2011 .grid_01 .col_sub { width:190px; margin-left:-190px;}

.yp2011 .list_tab { border-bottom:2px solid #fe620b; position:relative; *zoom:1;}
.yp2011 .list_tab li { height:25px; padding-top:8px; font-size:14px; width:82px; display:inline; text-align:center; float:left; margin-right:3px; background-position:-492px -953px;}
.yp2011 .list_tab .select { font-weight:bold; background-position:0 -953px;}
.yp2011 .list_tab .select a { color:#fff;}
.yp2011 .list_tab li a { color:#404040;}
.yp2011 .conditions { margin:10px 0; border:1px solid #ffbd90; background-color:#fffbe0; padding:8px 12px 6px; text-align:left;}
.yp2011 .conditions a { margin-right:10px;}
.yp2011 .conditions .current { font-weight:bold; color:#f30;}
.yp2011 .y_cate { border:1px solid #ddd; border-top:0 none; text-align:left;}
.yp2011 .y_cate .hd { background-position:0 -832px; height:25px; line-height:25px; font-size:14px; font-weight:bold; padding-left:10px; border-bottom:1px solid #ddd; border-top:1px solid #ddd; overflow:hidden;}
.yp2011 .y_cate .hd .num { font-weight:normal; font-size:12px; color:#888;}
.yp2011 .y_cate .bd { padding:5px 0 5px 10px;}
.yp2011 .y_cate .bd li { float:left; width:87px; overflow:hidden; height:24px; line-height:24px;}
.yp2011 .y_list .item { padding:7px 8px 10px; border-bottom:1px dotted #e0e0e0; overflow:hidden; _zoom:1; text-align:left;}
.yp2011 .y_list .pic { float:left; _display:inline; margin:3px 8px 0 0;}
.yp2011 .y_list .pic img { vertical-align:top;}
.yp2011 .y_list .txt { float:left; width:440px; padding-top:3px;}
.yp2011 .y_list .txt .title { font-size:14px; font-weight:bold; color:#0000cc;}
.yp2011 .y_list .txt .cate { color:#999;}
.yp2011 .y_list .txt .num_pic { display:none; background-color:#6eb800; color:#fff; padding:0 2px;}
.yp2011 .y_list .txt .topic { color:#f30;}
.yp2011 .y_list .txt .info { height:36px; overflow:hidden; color:#999; margin:5px 0 0 0; padding-right:15px;} 
.yp2011 .y_list .tel { float:right; line-height:50px; font-size:20px; color:#f50;}
.yp2011 .t_list .item { width:370px; float:left; padding:10px 0 20px; text-align:center;}
.yp2011 .t_list .item .pic_text { position:relative; display:block; width:340px; height:50px; overflow:hidden; vertical-align:top; margin:0 auto; border:1px solid #ddd; font:20px/50px 微软雅黑; color:#333;}
.yp2011 .t_list .item .pic_text  img{ width:340px; height:50px; overflow:hidden; vertical-align:top;}
.yp2011 .t_list .item .zhiding { position:absolute; top:-1px; right:-1px; width:40px; height:16px; background-position:-435px -887px; overflow:hidden; font:0pt/1000px Arial;}
.yp2011 .t_list .item .info { text-align:left; padding:10px 0 0 15px;}
.yp2011 .t_list .item .main_info { display:block; height:20px; line-height:20px; overflow:hidden;}
.yp2011 .t_list .item .main_info .title { font-weight:bold; font-size:14px;}
.yp2011 .t_list .item .main_info .cate { color:#999;} 
.yp2011 .t_list .item .other { display:block; height:20px; line-height:20px; color:#999; margin-top:5px;}
.yp2011 .t_list .item .other .tel { color:#f50; font-size:18px;}
.yp2011 .t_list .item .other .menu { display:inline-block; margin-left:12px; *display:inline; *zoom:1; width:78px; height:22px; background-position:-357px -887px; overflow:hidden; font:0pt/1000px Arial; vertical-align:top;}

/* 分页 */
.yp2011 .topPnav { position:absolute; top:4px; right:0; padding:0;}
.pageNavigation {}
.yp2011 .pageNavigation a,.yp2011 .pageNavigation .pageNum,.yp2011 .pageNavigation .kill { margin-right:8px; vertical-align:middle; display:inline-block; *display:inline; *zoom:1; height:19px; line-height:19px; border:1px solid #ddd; padding:3px 8px;}
.yp2011 .pageNavigation .pageNum { color:#999;}
.yp2011 .pageNavigation .prev,.yp2011 .pageNavigation .next { background:none; padding:0; border:0 none;}
.yp2011 .pageNavigation .prev a {text-align:left; padding-left:15px; background-position:-940px -829px;}
.yp2011 .pageNavigation .next a {text-align:right; padding-right:15px; background-position:-893px -810px;}
.yp2011 .pageNavigation a { color:#36c; font-weight:normal;}
.yp2011 .pageNavigation a:hover { color:#f30; text-decoration:none;}
.yp2011 .pageNavigation .prev .nopage { background-position:-940px -867px; color:#999; cursor:default;}
.yp2011 .pageNavigation .next .nopage { background-position:-893px -848px; color:#999; cursor:default;}
.yp2011 .pageNavigation .select,.yp2011 .pageNavigation .current { border:1px solid #fff; color:#fff; font-weight:bold; cursor:default;}
.yp2011 .pageNavigation .kill { color:#aaa; border:1px solid #eee; font-weight:normal;}
.yp2011 .topPnav a { padding:0 5px; margin:0;}
.yp2011 .topPnav .prev { margin-right:8px;}
.yp2011 .pageNavigation .current:hover { text-decoration:none; color:#fff;}

/* join */
.yp2011 .join_tp { margin-top:5px; height:170px; background-position:0 -378px; padding-top:206px;}
.yp2011 .join_tp .col { float:left; display:inline; width:351px; text-align:left; padding-left:45px;}
.yp2011 .join_tp .col li { background:none; line-height:24px; height:24px; overflow:hidden;}
.yp2011 .join_tp .col .link { margin-top:10px;}
.yp2011 .join_tp .col .link .menu1,.yp2011 .join_tp .col .link .menu2,.yp2011 .join_tp .col .link .menu3 { display:block; width:148px; height:41px; font:0pt/1000px Arial; overflow:hidden;}
.yp2011 .join_tp .col .link .menu1 { background-position:0 -912px;}
.yp2011 .join_tp .col .link .menu2 { background-position:-149px -912px;}
.yp2011 .join_tp .col .link .menu3 { background-position:-298px -912px;}
.yp2011 .join_bt { position:relative; *zoom:1; margin-top:15px;}
.yp2011 .join_bt .hd { height:37px; background-position:0 -754px; text-align:left; padding-left:42px; font-size:14px; font-weight:bold; color:#d30000; line-height:37px;}
.yp2011 .join_bt .tab { position:absolute; top:7px; right:7px;}
.yp2011 .join_bt .tab li { float:left; padding:0 8px; border:1px solid #ffcc99; height:28px; line-height:28px; background-position:0 -858px; display:inline; margin-right:3px;}
.yp2011 .join_bt .tab a { color:#bf682e;}
.yp2011 .join_bt .tab .select { background:#fff none; border-bottom:1px solid #fff;}
.yp2011 .join_bt .tab .select a { color:#9f3c01; font-weight:bold;}
.yp2011 .join_bt .bd { border:1px solid #ffcc99; border-top:0 none; padding:0 0 15px 4px;}
.yp2011 .join_bt .small_pic li { float:left; text-align:center; width:140px; border:1px solid #ddd; padding:1px; height:81px; overflow:hidden;display:inline; margin:15px 27px 0;}
.yp2011 .join_bt .small_pic li img { width:140px; height:60px; display:block; vertical-align:top; margin-bottom:3px;}
.yp2011 .join_bt .small_pic li a { color:#555;}.yp2011 .join_bt .small_pic li a:hover { color:#f30;}
.yp2011 .join_bt .t_list2 { padding-top:20px;}
.yp2011 .join_bt .t_list2 .item { margin:0 13px; display:inline;}
.yp2011 .join_bt .t_list2 .item img {vertical-align:top;}
.yp2011 .join_bt {}

.yp2011 .services_01 { margin-top:10px; border:1px solid #febe90; background-color:#fffbe0; padding:10px;}
.yp_mbox { border:1px solid #cfcfcf; text-align:left;}
.yp_mbox .hd { height:31px; background-position:0 -986px;}
.yp_mbox .hd .title { font-size:14px; font-weight:bold; color:#333; padding-left:30px; background-position:-1173px -899px; line-height:20px; padding-top:7px;}
.yp_mbox .bd { padding:9px 15px;}
.yp_mbox .bd li { float:left; width:262px; display:inline; margin-right:20px; padding-left:23px; line-height:26px; height:26px; overflow:hidden; background-position:-636px -913px;}


.yp2011 .box_a { zoom:1; margin-top:5px;}
.yp2011 .box_a .b_1 { height:63px; color:#fff; line-height:63px; padding:0 15px;}
.yp2011 .box_a .b_1 .h2 { float:left; font-family:"微软雅黑"; font-size:22px; font-weight:bold; color:#fff;}
.yp2011 .box_a .b_1 .fr { display:block; float:right; color:#fff;}
.yp2011 .box_a .b_1 .fr em { color:#fff;}
.yp2011 .box_a .b_1 .fr .view { color:#fff; font-weight:bold;}
.yp2011 .box_a .b_2 { border:1px solid #e6e6e6; border-top:0 none; padding:15px 40px; background-color:#f8f8f8;}
.yp2011 .box_a .tb01 td { text-align:left; font-size:14px; padding:3px 0; color:#999;}
.yp2011 .box_a .tb01 td img { vertical-align:middle;}
.yp2011 .box_a .tb01 td em { color:#404040;}
.yp2011 .box_a .tb01 {}
.yp2011 .box_a .b_3 { border:1px solid #e6e6e6; padding:1px; border-top:0 none; text-align:left;}
.yp2011 .box_a .b_3_bg { padding:20px;}
.yp2011 .box_a .wen_all { font-size:14px; line-height:25px; padding:15px; color:#404040;}
.yp2011 .box_a .wen_all p { margin-bottom:10px;}
.yp2011 .box_a .pic_box { text-align:center; margin-top:20px;}
.yp2011 .box_a .pic_box p { margin-bottom:10px;}
.yp2011 .box_a .qita { border:1px solid #e6e6e6; border-top:2px solid #5f9cd5;}
.yp2011 .box_a .qita .hd { background:url(../images/yp2011X.gif) repeat-x 0 -59px; height:32px; overflow:hidden; font-weight:bold; line-height:32px; color:#333; padding-left:8px;}
.yp2011 .box_a .qita .bd { border-top:1px solid #e6e6e6; background-color:#fff; padding:8px; line-height:22px;}
.yp2011 .box_a .qita .bd li { background-position:-945px -55px; height:22px; overflow:hidden; padding-left:12px;}
.yp2011 .box_a .tb01 td em.tel_txt { font-size:18px; color:#f30;}
.yp2011 .change_tab {}
.yp2011 .change_tab li { float:left; width:82px; height:33px; font-size:14px; color:#404040; line-height:px; background-position:-492px -953px; display:inline; margin-right:3px; text-align:center; line-height:33px;}
.yp2011 .change_tab a { color:#404040;}
.yp2011 .change_tab .selected { font-weight:bold;}
.yp2011 .change_tab .selected a { color:#fff;}

.yp2011 .orange .b_1 { background-position:0 0;}
.yp2011 .blue .b_1 { background-position:0 -63px;}
.yp2011 .green .b_1 { background-position:0 -126px;}
.yp2011 .purple .b_1 { background-position:0 -189px;}
.yp2011 .brown .b_1 { background-position:0 -252px;}
.yp2011 .red .b_1 { background-position:0 -315px;}

.yp2011 .orange .change_tab { border-bottom:2px solid #fe620b;}
.yp2011 .blue .change_tab { border-bottom:2px solid #007adc;}
.yp2011 .green .change_tab { border-bottom:2px solid #329700;}
.yp2011 .purple .change_tab { border-bottom:2px solid #9c5dbf;}
.yp2011 .brown .change_tab { border-bottom:2px solid #907434;}
.yp2011 .red .change_tab { border-bottom:2px solid #e82202;}

.yp2011 .orange .change_tab .selected { background-position:0 -953px;}
.yp2011 .blue .change_tab .selected { background-position:-82px -953px;}
.yp2011 .green .change_tab .selected { background-position:-164px -953px;}
.yp2011 .purple .change_tab .selected { background-position:-246px -953px;}
.yp2011 .brown .change_tab .selected { background-position:-328px -953px;}
.yp2011 .red .change_tab .selected { background-position:-410px -953px;}


.qiye li { float:left; width:366px; padding:15px 10px; display:inline; margin:0 3px 0 7px; border-bottom:1px dotted #ccc;}
.qiye .topic { display:block; border:1px solid #ddd; height:50px; line-height:50px; font-size:20px; padding:1px; text-align:center;}
.qiye h3 { font-size:16px; line-height:22px; margin-top:8px; font-weight:bold; height:22px; overflow:hidden;}
.qiye .cat { font-weight:normal; font-size:12px; color:#999;}
.qiye .tel { font-size:16px; color:#f60;}
.qiye .btn { float:right; padding:1px 8px; background-color:#f60; color:#fff;}
.qiye .top { display:block; top:0; right:0; width:39px; height:15px; background-position:-239px -116px; text-indent:-999px; overflow:hidden;}

