@charset "utf-8";
#header .channel_nav { background-position:0 -787px;}
#header .channel_nav li { background-position:80px -887px;}
#header .channel_nav li.index { background-position:63px -887px;}
#header .channel_nav li span.current { background-position:-151px -845px;}
#header .channel_nav li.index span.current { background-position:0 -845px;}
#header .channel_nav .telephone em { color:#51941f;}