@charset "utf-8";
#header .channel_nav { background-position:0 -316px;}
#header .channel_nav li { background-position:80px -416px;}
#header .channel_nav li.index { background-position:63px -416px;}
#header .channel_nav li span.current { background-position:-151px -374px;}
#header .channel_nav li.index span.current { background-position:0 -374px;}
#header .channel_nav .telephone em { color:#eb7400;}

