@charset "utf-8";
#header .channel_nav { background-position:0 0;}
#header .channel_nav li { background-position:80px -100px;}
#header .channel_nav li.index { background-position:63px -100px;}
#header .channel_nav li span.current { background-position:-151px -58px;}
#header .channel_nav li.index span.current { background-position:0 -58px;}
#header .channel_nav .telephone em { color:#036ec9;}


.sub_tg{ width:212px; height:45px; background:url(../../images/mt_btn1.png) no-repeat 0 0; border:0px solid;}

.but_tg{ width:171px; height:45px; background:url(../../images/mt_btn2.png) no-repeat 0 0; border:0px solid;}